

<div class="content-container">
    <div class="header">
        <h1>Selecciona la mesa</h1>
        <button (click)="toggleSidebar()" class="open-btn">Ver reservas</button>
    </div>
    <div class="mesas-container">
        @for (mesa of mesasCatalog; track mesa) {
            <MesaObject [MesaInfo]="mesa" (click)="openModal(mesa)"/>
        }
    </div>
</div>


@if (modalOpen) {
    <div class="modal-overlay" (click)="modalOpen = false">
        <div class="modal-content" (click)="$event.stopPropagation()">

          <div class="modal-header">
            <div class="modal-image" [ngClass]="{
                'mesa-s': currentTable.sillas == 2,
                'mesa-m': currentTable.sillas === 4,
                'mesa-l': currentTable.sillas === 6
            }">
              
            </div>
            
            <div class="modal-info">
              <h2>Mesa {{ currentTable.id }}</h2>
              <p>Hasta para {{ currentTable.sillas }} personas</p>
            </div>
          </div>
      
          <div class="modal-footer">
            <label for="date">Fecha:</label>
            <input type="date" id="date" [min]="currentTime" [(ngModel)]="reservationDate" />
    
            <label for="time">Hora:</label>
            <input type="time" id="time"  step="3600" min="12:00" max="20:00" [(ngModel)]="reservationTime"/>
    
            <button (click)="reserveTable()">Reservar</button>
          </div>
        </div>
      </div>
}

<div class="sidebar" [ngClass]="{ 'open': isSidebarOpen }">
    <button (click)="toggleSidebar()" class="close-btn"><i class="pi pi-times"></i></button>
    <h3>Mis reservas</h3>
    <div class="reservas-list">
        @for(reserva of reservasCatalog; track reservasCatalog) {
            <div class="reserva-item">
                <div class="reserva-img" [ngClass]="{
                    'mesa-s': findMesa(reserva.mesaId).sillas === 2,
                    'mesa-m': findMesa(reserva.mesaId).sillas === 4,
                    'mesa-l': findMesa(reserva.mesaId).sillas === 6
                }"></div> 
                <div class="reserva-info">
                    <p class="texto-info">Mesa #{{ reserva.mesaId }}</p>
                    <p class="texto-info">Fecha: {{ reserva.fecha }}</p>
                    <div class="btn-delete-container">
                        <p>Hora: {{ reserva.hora }}</p>
                        <button (click)="deleteReserve(reserva.id)" class="delete-btn"><i class="pi pi-trash"></i></button>
                        <button class="edit-btn"><i class="pi pi-pencil"></i></button>
                    </div>
                </div>
                
            </div>
        } 
    </div>
</div>
