

<div class="content-container">
    <div class="header">
        <h1>Selecciona la mesa</h1>
    </div>
    <div class="mesas-container">
        @for (mesa of mesasCatalog; track mesa) {
            <MesaObject [MesaInfo]="mesa" (click)="openModal(mesa)"/>
        }
    </div>
</div>


@if (modalOpen) {
    <div class="modal-overlay" (click)="modalOpen = false">
        <div class="modal-content" (click)="$event.stopPropagation()">

          <div class="modal-header">
            <div class="modal-image" [ngClass]="{
                'mesa-s': currentTable.sillas == 2,
                'mesa-m': currentTable.sillas === 4,
                'mesa-l': currentTable.sillas === 6
            }">
              
            </div>
            
            <div class="modal-info">
              <h2>Mesa {{ currentTable.id }}</h2>
              <p>Hasta para {{ currentTable.sillas }} personas</p>
            </div>
          </div>
      
          <div class="modal-footer">
            <label for="date">Fecha:</label>
            <input type="date" id="date" [min]="currentTime" [(ngModel)]="reservationDate" />
    
            <label for="time">Hora:</label>
            <input type="time" id="time"  step="3600" min="12:00" max="20:00" [(ngModel)]="reservationTime"/>
    
            <button (click)="reserveTable()">Reservar</button>
          </div>
        </div>
      </div>
}

